{% extends 'base.html'%}

{% block content%}


<div id="home" class="home-section">
    <div class="hero-section">
        <h1>Welcome to B-PLAT Blog Platform</h1>
        <p>Your go-to destination for insightful articles and engaging content.</p>
        <a href="" class="cta-button">Explore Blog</a>
    </div>
    
</div>
<br>
<h2 style="text-align: center;">Blog Post</h2>
<table  class="table table-hover table-dark">
    <tr > 
    <td> Title </td>    
    </tr>
    {% for posts in post%}
    <tr class="table-success">
        <td> {{posts.title}}</td>
        <td><a href="{% url 'single-post' posts.id %}" style="padding: 5px; background-color: darkcyan; color: aliceblue; border-radius: 10px; text-decoration: none;"> View Post </a></td>
    </tr>
    {% endfor %}
</table>


{% endblock content %}